* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, input, button {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}

.site-container {
  width: 100%;
  height: 100%;
}

html, body {
  height: 94vh;
  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  height: 6vh;
  width: 100%;
  background-color: tan;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.links ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  height: 100%;
}
.links ul a {
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.links ul a:hover {
  background-color: #fff;
  color: #000;
}

.homePage {
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.homePage .hero {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 200px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.homePage .hero .callout {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.createPage {
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100%;
}
.createPage .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}
.createPage .container form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.createPage .container form label {
  font-weight: bold;
}
.createPage .container form input {
  padding: 10px;
  margin-bottom: 10px;
}

.checkBoxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkBoxLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
}

.checkBox {
  width: 20px;
}

.editPage {
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.editPage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.editPage .container form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.editPage .container form label {
  font-weight: bold;
}
.editPage .container form input {
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  padding: 10px 0;
  background-color: rgb(88, 146, 201);
  border: none;
  cursor: pointer;
}

.btn--filter {
  margin-bottom: 20px;
}

.loginPage {
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.loginPage .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.loginPage .container form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 500px;
  height: 100%;
}